.container {
  padding: 5%;
}

header {
  width: 100%;
  background-color: #4a4a4a;
  padding: 5%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}